# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

In [169]:
my_int = [1, 2, 3, 4, 5, 6, 7, 9,]

In [170]:
my_int

[1, 2, 3, 4, 5, 6, 7, 9]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

In [171]:
my_tuple = ("apple", "banana", "cherry")

In [172]:
my_tuple

('apple', 'banana', 'cherry')

In [173]:
type(my_tuple)

tuple

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

In [174]:
numbers = [10, 20, 30, 40]

In [175]:
tuple_2 =tuple(numbers)

In [176]:
tuple_2

(10, 20, 30, 40)

In [177]:
type(tuple_2)

tuple

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

In [184]:
my_set = {1, 2, 3, 4, 5}

In [185]:
my_set

{1, 2, 3, 4, 5}

In [187]:
type(my_set)

set

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

In [188]:
student = {"name": "Alice", "age": 20, "grade": "A"}

In [189]:
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

In [190]:
type(student)

dict

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

In [191]:
list_1 = [10, 20, 30, 40, 50 ]

In [192]:
print(list_1[1])

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

In [193]:
fruits = ["apple", "banana", "cherry", "orange"]

In [194]:
fruits[2]= "mango"

In [195]:
print(fruits)

['apple', 'banana', 'mango', 'orange']

In [196]:
type(fruits)

list

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

In [197]:
numbers = {1, 2, 3, 4, 5}

In [198]:
num2 = numbers.add(6)

In [199]:
numbers

{1, 2, 3, 4, 5, 6}

In [200]:
type(numbers)

set

using the method append

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

In [208]:
person = {"name": "John","age": 25, "city": "New York"}

In [212]:
del person ['age']

In [213]:
person

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

In [214]:
x = range(10)

In [217]:
print(list(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

In [220]:
a = [x**2 for x in range(1,11) if x % 2 ==0]

In [221]:
a

[4, 16, 36, 64, 100]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

In [224]:
even_numbers = tuple(x for x in range(2,11) if x % 2 ==0 )

In [225]:
even_numbers

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

In [226]:
fruits = ["apple", "banana", "cherry"]

In [227]:
for fruit in fruits:
    print(fruits)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

```python
# Exercise 13
```

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [229]:
numbers = {1, 2, 3, 4, 5}

In [231]:
if 3 in numbers:
    print('3 exist in numbers')
else:
    print('3 does not exist')

3 exist in numbers

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [234]:
numbers = (10, 20, 30)

In [235]:
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [232]:
scores = [80, 85, 90, 95]

In [236]:
scores.append(100)

In [237]:
scores

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

In [239]:
a = [10, 20, 30, 40]

In [240]:
result = sum(a)

In [241]:
result

100

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [242]:
numbers = [1, 2, 2, 3, 4, 4, 5]

In [243]:
my_list = list(set(numbers))

In [244]:
my_list

[1, 2, 3, 4, 5]

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [256]:
text = "hello"

In [269]:
b = list(text)

In [270]:
b

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

In [271]:
numbers = (1, 2, 3, 4)

In [272]:
print(numbers[::-1])

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [4]:
dict1 = {"a": 1, "b": 2}

In [5]:
dict2 = {"c": 3, "d": 4}

In [6]:
dict1.update(dict2)

In [7]:
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

In [285]:
numbers = {i:i**2 for i in range(1,6)}

In [286]:
numbers

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [287]:
x = {"a": 1, "b": 2, "c": 3, "d": 4}

In [288]:
for x in x.items():
    print(x)

('a', 1)
('b', 2)
('c', 3)
('d', 4)

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [296]:
my_list = [chr(x) for x in range(67,72)]

In [297]:
my_list

['C', 'D', 'E', 'F', 'G']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [8]:
c = [1, 2, 3]

In [9]:
d = ["a","b", "c"]

In [11]:
[x for x in zip(c,d)]

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [21]:
number = [10, 20, 30, 40, 50]

In [22]:
number.index(50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

In [3]:
names = ["ALice", "Bob", "Charlie", "David"]

In [5]:
names.sort()

In [6]:
names

['ALice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

In [9]:
num = [1,2,3,4]

In [10]:
largest = max(num)

In [11]:
print(largest)

4

```python
# Exercise 28
```

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

In [12]:
fruits = ["apple", "banana", "apple", "orange"]

In [16]:
count_apple = fruits.count("apple")

In [17]:
print(count_apple)

2

```python
# Exercise 29
```

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python

In [18]:
person = {"name": "Alice", "age": 25, "city": "New York" }

In [21]:
print(person['city'])

New York

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [34]:
numbers = ['1','2','3','4','1']

In [35]:
new_list = numbers.remove('1')

In [38]:
new_list = numbers 
print(new_list)

['2', '3', '4', '1']

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [73]:
def intersection_list(list_1, list_2):
    """
    it returns the intersection of list_1 and list_2 
    """
    return list(set(list_1) & set(list_2))

list_1 = [1, 2, 3,]
list_2 = [3, 4, 5,6,7]
    
print(intersection_list(list_1, list_2))

[3]

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [68]:
def square_generator():
    """
    square generator is a function name
    """
    for num in range(1, 10):
        yield num ** 2

for square in square_generator():
        
        print(square)

1
4
9
16
25
36
49
64
81

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [74]:
x = {'a': 200, 'b': 150, 'c': 100}

In [76]:
result = sum(x.values())

In [77]:
result

450

Or using another Method

In [80]:
result = sum([x[key] for key in x])

In [81]:
result

450

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python

In [97]:
num_1 = [3, 1, 4, 1, 5, 9]

In [98]:
num_2 = sorted(num_1)

In [99]:
print("sorted list:", num_2)

sorted list: [1, 1, 3, 4, 5, 9]

In [101]:
num_2 = sorted(num_1, reverse = True)

In [102]:
print("sorted list:", num_2)

sorted list: [9, 5, 4, 3, 1, 1]

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

In [103]:
names = ['Roy', 'James', 'Gedeon', 'Eric']

In [104]:
a = max(names, key=len)

In [105]:
print(a)

Gedeon

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

In [112]:
num = [1, 2, 3, 4]

In [113]:
num1= [(x, x**2) for x in num]

In [115]:
num2= tuple(num1)

In [116]:
num2

((1, 1), (2, 4), (3, 9), (4, 16))

In [117]:
type(num2)

tuple

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

In [122]:
m = [(1,2),(3,4),(4,5)]

In [123]:
m1 = sorted(m, key=lambda a:a[0])

In [124]:
m1

[(1, 2), (3, 4), (4, 5)]

or Using sort()

In [127]:
a =[(2,3), (2, 5), (4, 6)]

In [130]:
a.sort(key = lambda a:a[0])

In [131]:
a

[(2, 3), (2, 5), (4, 6)]

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

In [132]:
x = [[1,4,2], [4,6], [6,4,7]]

In [134]:
#using the sum() function
y = sum(x, [])

In [135]:
y

[1, 4, 2, 4, 6, 6, 4, 7]

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

In [136]:
#using enumerator function
c = ["apple", "banana", "cherry"]

In [141]:
for index, b in enumerate (c, start = 1):
    print(index, b)

1 apple
2 banana
3 cherry

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

In [142]:
b = ()
if len(b) ==0:
    print("This tuple is empty")
else:
    print("This tuple is not empty")

This tuple is empty

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

In [143]:
a = 1
b = 21

In [145]:
result = [i for i in range(1, b + 1) if i % 2 ==0]

In [146]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

or using this method

In [147]:
x = 1
y = 21

In [151]:
for i in range(2, y + 1, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

In [155]:
a = [1,2,3,4,5]

In [156]:
a.reverse()

In [160]:
print(a)

[5, 4, 3, 2, 1]

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

In [161]:
dict1= {a:a**3 for a in [1,2,3,4,5] }

In [162]:
dict1

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

In [163]:
my_list = [1, 2, 2, 3, 4, 4, 5]

In [164]:
result = list(set(my_list))

In [165]:
result

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

In [23]:
a = {"x": 1, "y": 2, "z": 3}

In [32]:
for x in a.values():
    print(x)

1
2
3

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python

```

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

In [108]:
def my_unique_characters(input_string):
    unique_chars = set(input_string)
    return sorted(list(unique_chars))

my_res = my_unique_characters("Hi everyone")
print(my_res)

[' ', 'H', 'e', 'i', 'n', 'o', 'r', 'v', 'y']

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.


```

In [36]:
def merge_sorted_list (list_1, list_2):
    return sorted(list_1 + list_2)
list_1 = [1,2,3,4,5]
list_2 = [5, 3, 6, 2]
result = merge_sorted_list(list_1, list_2)
result

[1, 2, 2, 3, 3, 4, 5, 5, 6]

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
```

In [37]:
numbers = [1, 2, 3, 4, 5, 6]

In [39]:
e_numbers = list(filter(lambda i: i % 2 == 0, numbers))
print(e_numbers)

[2, 4, 6]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
```

In [46]:
my_list = [(1,2),(3,4), (5,6)]

In [47]:
numbers = dict(my_list)

In [48]:
numbers

{1: 2, 3: 4, 5: 6}

In [49]:
type(numbers)

dict

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
```

In [65]:
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)

set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}
result = symmetric_difference(set_1, set_2)
print(result)

{1, 2, 5, 6}

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
```

In [74]:
def common_elements(list_1, list_2, list_3):
    return list(set(list_1) & set(list_2) & set(list_3))


list_1 = [1, 2, 3, 4, 5]
list_2 = [2, 4, 5, 6, 7]
list_3 = [2, 6, 7, 8, 9]

result = common_elements(list_1, list_2, list_3)
print(result)

[2]

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [75]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n - 1)

print(factorial(3))

6

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
```

In [78]:
fruits = ["apple", "", "banana", "", "cherry"]

In [79]:
fruits = list(filter(None, fruits))

In [80]:
print(fruits)

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
```

In [83]:
def swap_keys_values(my_dict):
    swapped_dict = {}
    for key, value in my_dict.items():
        swapped_dict[value] = key
    return swapped_dict

# Example usage
dict_1 = {'a': 1, 'b': 2, 'c': 3}
swapped_dict = swap_keys_values(dict_1)
print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
```

In [84]:
def int_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

my_list = [1, 2, 3, 4, 5, 6]
result = int_numbers(my_list)
print(result)

[2, 4, 6]

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
```

In [86]:
def first_elements(my_tuples_list):
    return [x[0] for x in my_tuples_list]

list1 = [(1, 'a'), (2, 'b'), (3, 'c')]
result = first_elements(list1)
print(result)

[1, 2, 3]

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
```

In [90]:
def re_duplicates(input_list):
    set_1 = set()
    result = []
    for x in input_list:
        if x not in set_1:
            set_1.add(x)
            result.append(x)
    return result

list_1 = [1, 2, 3, 2, 1, 4, 5, 4]
result = re_duplicates(list_1)
print(result)

[1, 2, 3, 4, 5]

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [92]:
my_strings = ["apple", "banana", "cherry"]

In [95]:
lengths = list(map(len, my_strings))

In [96]:
print(lengths)

[5, 6, 6]

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
```

In [97]:
def calculate_average(numbers):
    return sum(numbers) / len(numbers) if numbers else 0

my_list = [10, 20, 30, 40, 50]
average = calculate_average(my_list)
print(average)

30.0

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [100]:
def generate_fibonacci(n):
    fibonacci_list = []
    a, b = 0, 1
    for _ in range(n):
        fibonacci_list.append(a)
        a, b = b, a + b
    return fibonacci_list

n = 4
result = generate_fibonacci(n)
print(result)

[0, 1, 1, 2]

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [101]:
from collections import Counter

example_list = ["apple", "banana", "apple", "cherry"]

result = Counter(example_list)

print(result)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [103]:
def remove_occurrences(input_list, value_to_remove):
    input_list[:] = [x for x in input_list if x != value_to_remove]

my_list = [1, 2, 3, 4, 2, 5]
remove_occurrences(my_list, 2)
print(my_list)

[1, 3, 4, 5]

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
```

In [104]:
def vowel_start(strings):
    vowels = ('a', 'e', 'i', 'o', 'u')
    return [s for s in strings if s.lower().startswith(vowels)]

my_list = ["apple", "banana", "umbrella", "cherry", "orange"]
result = vowel_start(my_list)
print(result)

['apple', 'umbrella', 'orange']

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
```

In [106]:
def intersection_elements(list_1, list_2):
    return list(set(list_1) & set(list_2))


list_1 = [1, 2, 3, 4, 5]
list_2 = [2, 4, 5, 6, 7]

result = intersection_elements(list_1, list_2)
print(result)

[2, 4, 5]

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
```

In [107]:
def flatten(nested_list):
    flat_list = []
    for i in nested_list:
        if isinstance(i, list):
            flat_list.extend(flatten(i))  
        else:
            flat_list.append(i)
    return flat_list

nested_list = [1, [2, 3], [4, [5, 6]], 7]
result = flatten(nested_list)
print(result)

[1, 2, 3, 4, 5, 6, 7]

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
```

In [109]:
def are_elements_unique(input_list):
    for i in range(len(input_list)):
        if input_list[i] in input_list[:i]:  
            return False
    return True

example_list = [1, 2, 3, 4, 5]
result = are_elements_unique(example_list)
print(result)  

example_list_with_duplicates = [1, 2, 3, 4, 4]
result_with_duplicates = are_elements_unique(example_list_with_duplicates)
print(result_with_duplicates)

True
False

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
```

In [2]:
from functools import reduce

numbers = [5, 2, 3, 4, 6]

def multiply(a, b):
    return a * b

result = reduce(multiply, numbers)

print(f"Product of all elements:", result)

Product of all elements: 720

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [3]:
def strings_to_lengths(strings):
    lengths_dict = {}
    for s in strings:
        lengths_dict[s] = len(s)
    return lengths_dict

string_list = ["apple", "banana", "cherry"]
lengths_dict = strings_to_lengths(string_list)

print(lengths_dict)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [6]:
def count_vowels(input_string):
    v = "aeiouAEIOU" #v stand for vowel
    count = 0

    for char in input_string:
        if char in v:
            count += 1

    return count

user_input = input("Enter a string: ")
vowel_count = count_vowels(user_input)
print("Number of vowels:", vowel_count)

Enter a string:  a

Number of vowels: 1

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python

```

In [27]:
def factorials(n):
    if n == 0 or n == 1:
        return 1
    else:
        result = 1
        for m in range(2, n + 1):
            result *= m
        return result

factorial_list = []

for m in range(1, 6):
    fact = factorial(m) 
    factorial_list.append((m, fact))

In [28]:
factorial_list

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python

```

In [29]:
def merge_dicts(dict_list):
    merged_dict = {}
    for D in dict_list:
        merged_dict.update(D)  
    return merged_dict

dicts = [
    {"a": 1, "b": 2},
    {"b": 3, "c": 4},
    {"d": 5}
]

result = merge_dicts(dicts)

In [30]:
result

{'a': 1, 'b': 3, 'c': 4, 'd': 5}

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python

In [25]:
def check_subset(set_a, set_b):
    for element in set_a:
        if element not in set_b:
            return False 
    return True 

set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

result = check_subset(set1, set2)
result

True

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python

In [32]:
def sort_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[1])

tuples_list = [(1, 3), (4, 1), (2, 2), (3, 5)]
sorted_list = sort_element(tuples_list)

In [33]:
sorted_list

[(4, 1), (2, 2), (1, 3), (3, 5)]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python

In [44]:
def positive_int(int_list):
    positive_integers = []
    for x in int_list:
        if x > 0:  
            positive_integers.append(x) 
    return positive_integers  
    
nums = [-10, 5, 0, 3, -2, 8]
positive_num = positive_int(nums)

In [45]:
positive_num

[5, 3, 8]

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python

In [46]:
def sets_union(set_a, set_b):
    return set_a | set_b  

set1 = {1, 2, 3}
set2 = {3, 4, 5}

result = sets_union(set1, set2)

In [47]:
result

{1, 2, 3, 4, 5}

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python

In [49]:
def product(num_list):
    product = 1  
    for num in num_list:
        product *= num  
    return product

numbers = [1, 2, 3, 4, 5]
result = product(numbers)

In [50]:
result

120

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python

```

In [61]:
def list_to_string(char_list):
    return ''.join(char_list)  


char = ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']
result = list_to_string(char)

In [62]:
result

'Hello World'

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python

```

In [65]:
def second_larg(numbers):
    if len(numbers) < 2:
        return None   # where secpnd_larg stand for second largest unmber in an integer's list

    first = second = float('-inf')  

    for num in numbers:
        if num > first:
            second = first 
            first = num  
        elif first > num > second:
            second = num  

    return second if second != float('-inf') else None  

integers = [7, 3, 9, 1, 4]
result = second_larg(integers)

In [66]:
result

7

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python

```

In [67]:
def sorted_keys(input_dict):
    return sorted(input_dict.keys())  

my_dict = {'x': 2, 'y': 1, 'z': 3}
sorted_list = sorted_keys(my_dict)

In [68]:
sorted_list

['x', 'y', 'z']

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python

```

In [74]:
from collections import Counter

def most_common(lst):
    """
    Find the most common element in a list.
    Returns a tuple of (element, count).
    """
    if not lst:
        return None
    
    counter = Counter(lst)
    return counter.most_common(1)[0]

my_list1 = [2, 5, 2, 6, 4, 1, 3, 2, 1, 5]
element, count = most_common(my_list)
print(f"commonnes element: {element} (appears {count} times)")

words = ["apple", "banana", "apple", "orange", "banana", "apple"]
element, count = most_common(words)
print(f"commonnest element: {element} (appears {count} times)")

commonnes element: 2 (appears 3 times)
commonnest element: apple (appears 3 times)

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python

```

In [81]:
def sort_tuples(tuples_list):
    """
    Sort a list of tuples by the first element of each tuple.
    
       
    Returns:
        List of tuples sorted by the first element
    """
    return sorted(tuples_list, key=lambda x: x[0])

my_tuples1 = [(3, 'apple'), (1, 'banana'), (2, 'cherry'), (1, 'date')]
sorted_tuples = sort_tuples(my_tuples1)

In [82]:
sorted_tuples

[(1, 'banana'), (1, 'date'), (2, 'cherry'), (3, 'apple')]

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python

```

In [79]:
def remove_duplicates(input_list, value_to_remove):
    input_list[:] = [x for x in input_list if x != value_to_remove]

my_list = [1, 2, 3, 4, 2, 5]
remove_duplicates(my_list, 2)

[1, 3, 4, 5]

In [80]:
my_list

[1, 3, 4, 5]

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python

```

In [88]:
def min_max(numbers):
   
    if not numbers:
        return None
    
    min_num = numbers[0]
    max_num = numbers[0]
    
    for num in numbers:
        if num < min_num:
            min_num = num
        if num > max_num:
            max_num = num
    
    return min_num, max_num

first_numbers = [3, 1, 4, 1, 5, 9, 2, 6]
min_val, max_val = min_max(first_numbers)
print(f"List: {first_numbers}")
print(f"Min: {min_val}, Max: {max_val}")

second_numbers = [-5, 10, 2, 8, -3, 15]
min_val, max_val = min_max(second_numbers)
print(f"\nList: {second_numbers}")
print(f"Min: {min_val}, Max: {max_val}")

empty_list = []
result = min_max(empty_list)
print(f"\nEmpty list result: {result}")

List: [3, 1, 4, 1, 5, 9, 2, 6]
Min: 1, Max: 9

List: [-5, 10, 2, 8, -3, 15]
Min: -5, Max: 15

Empty list result: None

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python

```

In [89]:
def list_tuples(list1, list2):
    return list(zip(list1, list2))

names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
result = list_tuples(names, ages)

In [90]:
result

[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
```

In [91]:
def reverse_order(strings):
    return strings[::-1]

words = ['hello', 'Wandiya', 'James']
result = reverse_order(words)

In [92]:
result

['James', 'Wandiya', 'hello']

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python

```

In [94]:
def sum_of_odd_numbers(numbers):
    return sum(num for num in numbers if num % 2 != 0)

nums = [1, 7, 3, 4, 5, 6]
result = sum_of_odd_numbers(nums)

In [95]:
result

16

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python

```

In [97]:
def check_palindrome(s):
    return s == s[::-1]

In [99]:
print(check_palindrome("racecar"))

True

In [100]:
print(check_palindrome("hello"))

False

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
```

In [103]:
def median(num):
    num.sort()
    n = len(num)
    mid = n // 2
    
    if n % 2 == 0:
        return (num[mid-1] + num[mid]) / 2
    else:
        return num[mid]

In [104]:
print(median([1, 3, 5]))

3

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python

In [105]:
def sum__of_dicts(dicts):
    total = {}
    for d in dicts:
        for k, v in d.items():
            total[k] = total.get(k, 0) + v
    return total

data = [{'a': 1, 'b': 2}, {'a': 3, 'c': 4}]

In [106]:
data

[{'a': 1, 'b': 2}, {'a': 3, 'c': 4}]

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python

In [107]:
def mode(numbers):
    return max(numbers, key=numbers.count)

nums = [1, 2, 2, 3, 3, 3, 4]

In [108]:
mode(nums)

3

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python

```

In [113]:
def sum_of_squares(numbers):
    return sum(x * x for x in numbers)

nums = [1, 2, 3]

In [115]:
sum_of_squares(nums)

14

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python

In [117]:
result = [(x, x**3) for x in range(1, 7)]

In [118]:
result

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216)]

```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python

```

In [119]:
def prime_nums(n):
    primes = []
    for num in range(2, n + 1):
        if all(num % i != 0 for i in range(2, int(num**0.5) + 1)):
            primes.append(num)
    return primes

In [120]:
print(prime_nums(20))

[2, 3, 5, 7, 11, 13, 17, 19]

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

In [121]:
def find_common_keys(dict1, dict2):
    return dict1.keys() & dict2.keys()
    
b1 = {'a': 1, 'b': 2, 'c': 3}
b2 = {'b': 4, 'c': 5, 'd': 6}

In [127]:
print(find_common_keys(b1, b2))

{'b', 'c'}

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

In [129]:
def list_strings(strings):
    return [s for s in strings if len(s) > 5]

fruits = ['apple', 'banana', 'cat', 'elephant']

In [130]:
print(list_strings(fruits))

['banana', 'elephant']

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

In [132]:

def strings_length(strings):
    return [(s, len(s)) for s in strings]

words = ['apple', 'dog', 'cat']

In [134]:
print(strings_length(words))

[('apple', 5), ('dog', 3), ('cat', 3)]

---
### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

In [137]:
def sum_of_dict_values(dicts):
    result = {}
    for dictionary in dicts:
        for key, value in dictionary.items():
            if key in result:
                result[key] += value
            else:
                result[key] = value
    return result


data = [{'x': 1, 'y': 2}, {'x': 3, 'y': 4}]
print(sum_of_dict_values(data))

{'x': 4, 'y': 6}